<div class="picker-number picker-number_type-1 picker-number_type-1_hover-1">
	<button class="picker-number__button picker-number__button_dec">-</button>
	<input class="picker-number__input" type="number" value="1" step="1" min="1">
	<button class="picker-number__button picker-number__button_inc">+</button>
</div>
<div class="picker-number picker-number_type-1 picker-number_type-1_hover-2">
	<button class="picker-number__button picker-number__button_dec">-</button>
	<input class="picker-number__input" type="number" value="1" step="1" min="1">
	<button class="picker-number__button picker-number__button_inc">+</button>
</div>


