mixin number-picker1( minValue = 1, maxValue )
	-let elementClassList = ["picker-number_type-1", "picker-number_type-1_hover-1"]
	div(class=['picker-number'] class=elementClassList)
		button(class="picker-number__button picker-number__button_dec") -
		if(maxValue)
			input(class="picker-number__input" type="number" value="1" step="1" min=minValue max=maxValue)
		else 
			input(class="picker-number__input" type="number" value="1" step="1" min=minValue)
		button(class="picker-number__button picker-number__button_inc") +