extends base.pug
block content
	include ../template/mixin.pug

	div(class="container py-5")
		div(class="row py-5")
			div(class="col-12")
				div(class="py-2")
					+number-picker1( 1, 1 )
				div(class="py-2")
					+number-picker1( 2, 1 )
